<h1>Listing pets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Personality</th>
    <th>Animal</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= render :partial => 'pets/pet', :collection => @pets %>
</table>

<br />

<%= link_to 'New Pet', new_pet_path %>
